
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>Insert title here</title>
</head>
	<div class="container">
	
		<h3>Update User Form</h3>
		<hr>
		
		<p class="h4 mb-4">Update User</p>
		
		<form action="#" th:action="@{/admin/{operation}/saveUser/{userId}(operation=update, userId=${user.id})}"
			th:object="${user}" method="POST">

			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
			<span th:if="${#fields.hasErrors('email')}"
          		th:errors="*{email}" class="error-message"></span>
					
			<input type="text" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="Password">
			<span th:if="${#fields.hasErrors('password')}"
          		th:errors="*{password}" class="error-message"></span>
				
			<button type="submit" class="btn btn-info col-2">Update</button>	
		</form>
		<hr>
		<a th:href="@{/admin}">Back to Employees List</a>
	</div>
</html>